In [19]:
# import libs
import pandas as pd
import seaborn  as sns 
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8) 

# read data

df = pd.read_csv(r'C:\Users\ojt_opsdev_christian\Downloads\mcu.csv')

In [20]:
df.head()

,movie_title,mcu_phase,release_date,imdb_rating,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,international_box_office,worldwide_box_office
0,Iron Man,1,5/2/2008,7.9,94.0,91.0,126.0,"186,000,000","102,118,668","318,604,126","266,273,701","584,877,827"
1,The Incredible Hulk,1,6/13/2008,6.6,67.0,70.0,112.0,"137,500,000","55,414,050","134,806,913","130,766,946","265,573,859"
2,Iron Man 2,1,5/7/2010,6.9,72.0,71.0,124.0,"170,000,000","128,122,480","312,433,331","308,723,058","621,156,389"
3,Thor,1,5/6/2011,7.0,77.0,76.0,113.0,"150,000,000","65,723,338","181,030,624","268,295,994","449,326,618"
4,Captain America: The First Avenger,1,7/22/2011,6.9,79.0,75.0,124.0,"140,000,000","65,058,524","176,654,505","193,915,271","370,569,776"

In [21]:
# check if there are nulls

for col in df.columns:
    pct_nulls = np.mean(df[col].isnull())
    print('{} - {}%'.format(col,pct_nulls))

movie_title - 0.0%
mcu_phase - 0.0%
release_date - 0.0%
imdb_rating - 0.1%
tomato_meter - 0.1%
audience_score - 0.1%
movie_duration - 0.1%
production_budget - 0.1%
opening_weekend - 0.1%
domestic_box_office - 0.1%
international_box_office - 0.1%
worldwide_box_office - 0.1%

In [22]:
df.dtypes

movie_title                  object
mcu_phase                     int64
release_date                 object
imdb_rating                 float64
tomato_meter                float64
audience_score              float64
movie_duration              float64
production_budget            object
opening_weekend              object
domestic_box_office          object
international_box_office     object
worldwide_box_office         object
dtype: object

In [23]:
pd.set_option('display.max_rows',None)

In [24]:
df.head()

,movie_title,mcu_phase,release_date,imdb_rating,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,international_box_office,worldwide_box_office
0,Iron Man,1,5/2/2008,7.9,94.0,91.0,126.0,"186,000,000","102,118,668","318,604,126","266,273,701","584,877,827"
1,The Incredible Hulk,1,6/13/2008,6.6,67.0,70.0,112.0,"137,500,000","55,414,050","134,806,913","130,766,946","265,573,859"
2,Iron Man 2,1,5/7/2010,6.9,72.0,71.0,124.0,"170,000,000","128,122,480","312,433,331","308,723,058","621,156,389"
3,Thor,1,5/6/2011,7.0,77.0,76.0,113.0,"150,000,000","65,723,338","181,030,624","268,295,994","449,326,618"
4,Captain America: The First Avenger,1,7/22/2011,6.9,79.0,75.0,124.0,"140,000,000","65,058,524","176,654,505","193,915,271","370,569,776"

In [25]:
df_with_nulls = df[df.isnull().any(axis=1)]
print(df_with_nulls)

                        movie_title  mcu_phase release_date  imdb_rating  \
36  The Fantastic Four: First Steps          6    7/25/2025          NaN
37        Spider-Man: Brand New Day          6    7/31/2026          NaN
38               Avengers: Doomsday          6   12/18/2026          NaN
39            Avengers: Secret Wars          6   12/17/2027          NaN

    tomato_meter  audience_score  movie_duration production_budget  \
36           NaN             NaN             NaN               NaN
37           NaN             NaN             NaN               NaN
38           NaN             NaN             NaN               NaN
39           NaN             NaN             NaN               NaN

   opening_weekend domestic_box_office international_box_office  \
36             NaN                 NaN                      NaN
37             NaN                 NaN                      NaN
38             NaN                 NaN                      NaN
39             NaN                 NaN                      NaN

   worldwide_box_office
36                  NaN
37                  NaN
38                  NaN
39                  NaN

In [28]:
# Remove the specific problematic rows
df_clean = df.drop([36, 37, 38, 39])

In [31]:
print(df_clean)

                                    movie_title  mcu_phase release_date  \
0                                      Iron Man          1     5/2/2008
1                           The Incredible Hulk          1    6/13/2008
2                                    Iron Man 2          1     5/7/2010
3                                          Thor          1     5/6/2011
4            Captain America: The First Avenger          1    7/22/2011
5                                  The Avengers          1     5/4/2012
6                                    Iron Man 3          2     5/3/2013
7                          Thor: The Dark World          2    11/8/2013
8           Captain America: The Winter Soldier          2     4/4/2014
9                       Guardians of the Galaxy          2     8/1/2014
10                      Avengers: Age of Ultron          2     5/1/2015
11                                      Ant-Man          2    7/17/2015
12                   Captain America: Civil War          3     5/6/2016
13                               Doctor Strange          3    11/4/2016
14               Guardians of the Galaxy Vol. 2          3     5/5/2017
15                       Spider-Man: Homecoming          3     7/7/2017
16                               Thor: Ragnarok          3    11/3/2017
17                                Black Panther          3    2/16/2018
18                       Avengers: Infinity War          3    4/27/2018
19                         Ant-Man and the Wasp          3     7/6/2018
20                               Captain Marvel          3     3/8/2019
21                            Avengers: Endgame          3    4/26/2019
22                    Spider-Man: Far From Home          3     7/2/2019
23                                  Black Widow          4     7/9/2021
24    Shang-Chi and the Legend of the Ten Rings          4     9/3/2021
25                                     Eternals          4    11/5/2021
26                      Spider-Man: No Way Home          4   12/17/2021
27  Doctor Strange in the Multiverse of Madness          4     5/6/2022
28                       Thor: Love and Thunder          4     7/8/2022
29               Black Panther: Wakanda Forever          4   11/11/2022
30            Ant-Man and the Wasp: Quantumania          5    2/17/2023
31               Guardians of the Galaxy Vol. 3          5     5/5/2023
32                                  The Marvels          5   11/10/2023
33                         Deadpool & Wolverine          5    7/26/2024
34             Captain America: Brave New World          5    2/14/2025
35                                Thunderbolts*          5     5/2/2025

    imdb_rating  tomato_meter  audience_score  movie_duration  \
0           7.9          94.0            91.0           126.0
1           6.6          67.0            70.0           112.0
2           6.9          72.0            71.0           124.0
3           7.0          77.0            76.0           113.0
4           6.9          79.0            75.0           124.0
5           8.0          91.0            91.0           143.0
6           7.1          79.0            78.0           130.0
7           6.7          66.0            75.0           111.0
8           7.7          90.0            92.0           135.0
9           8.0          92.0            92.0           121.0
10          7.3          76.0            83.0           141.0
11          7.2          83.0            85.0           117.0
12          7.8          90.0            89.0           146.0
13          7.5          89.0            86.0           115.0
14          7.6          85.0            87.0           135.0
15          7.4          92.0            87.0           133.0
16          7.9          93.0            87.0           130.0
17          7.3          96.0            79.0           134.0
18          8.4          85.0            91.0           149.0
19          7.0          87.0            81.0           118.0
20          6.7          79.0            45.0           124.0
21          8.4          94.0            90.0           181.0
22          7.4          90.0            95.0           129.0
23          6.6          79.0            91.0           133.0
24          7.3          91.0            98.0           133.0
25          6.2          47.0            78.0           157.0
26          8.2          93.0            98.0           148.0
27          6.9          73.0            85.0           126.0
28          6.2          63.0            76.0           125.0
29          6.6          84.0            93.0           161.0
30          6.0          46.0            81.0           124.0
31          7.9          82.0            94.0           150.0
32          5.5          62.0            79.0           105.0
33          7.5          78.0            94.0           128.0
34          5.7          48.0            77.0           118.0
35          7.5          88.0            93.0           126.0

   production_budget opening_weekend domestic_box_office  \
0        186,000,000     102,118,668         318,604,126
1        137,500,000      55,414,050         134,806,913
2        170,000,000     128,122,480         312,433,331
3        150,000,000      65,723,338         181,030,624
4        140,000,000      65,058,524         176,654,505
5        225,000,000     207,438,708         623,357,910
6        200,000,000     174,144,585         408,992,272
7        150,000,000      85,737,841         206,362,140
8        170,000,000      95,023,721         259,746,958
9        170,000,000      94,320,883         333,714,112
10       365,000,000     191,271,109         459,005,868
11       130,000,000      57,225,526         180,202,163
12       250,000,000     179,139,142         408,084,349
13       165,000,000      85,058,311         232,641,920
14       200,000,000     146,510,104         389,813,101
15       175,000,000     117,027,503         334,580,976
16       180,000,000     122,744,989         315,058,289
17       200,000,000     202,003,951         700,059,566
18       300,000,000     257,698,183         678,815,482
19       130,000,000      75,812,205         216,648,740
20       175,000,000     153,433,423         426,829,839
21       400,000,000     357,115,007         858,373,000
22       160,000,000      92,579,212         391,362,492
23       200,000,000      80,366,312         183,651,655
24       150,000,000      75,388,688         224,543,292
25       200,000,000      71,297,219         164,870,264
26       200,000,000     260,138,569         814,811,535
27       200,000,000     187,420,998         411,331,607
28       250,000,000     144,165,107         343,256,830
29       250,000,000     181,339,761         453,829,060
30       200,000,000     106,109,650         214,506,909
31       250,000,000     118,414,021         358,995,815
32       270,000,000      46,110,859          84,500,223
33       200,000,000     211,435,291         636,745,858
34       180,000,000      88,842,603         200,500,001
35       180,000,000      74,300,608         189,493,120

   international_box_office worldwide_box_office
0               266,273,701          584,877,827
1               130,766,946          265,573,859
2               308,723,058          621,156,389
3               268,295,994          449,326,618
4               193,915,271          370,569,776
5               891,742,301        1,515,100,211
6               805,638,684        1,214,630,956
7               438,240,376          644,602,516
8               454,654,931          714,401,889
9               437,168,283          770,882,395
10              936,311,111        1,395,316,979
11              338,656,286          518,858,449
12              743,815,237        1,151,899,586
13              443,701,254          676,343,174
14              479,274,862          869,087,963
15              544,271,773          878,852,749
16              535,424,489          850,482,778
17              634,097,516        1,334,157,082
18            1,369,544,272        2,048,359,754
19              406,495,920          623,144,660
20              702,746,255        1,129,576,094
21            1,859,130,922        2,717,503,922
22              740,936,182        1,132,298,674
23              196,099,476          379,751,131
24              207,681,342          432,224,634
25              236,861,495          401,731,759
26            1,106,395,051        1,921,206,586
27              540,893,379          952,224,986
28              417,671,251          760,928,081
29              405,379,776          859,208,836
30              261,566,271          476,073,180
31              486,559,962          845,555,777
32              115,206,027          199,706,250
33              701,325,490        1,338,071,348
34              213,140,020          413,640,021
35              191,874,174          381,367,294

In [33]:
df.head()

,movie_title,mcu_phase,release_date,imdb_rating,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,international_box_office,worldwide_box_office
0,Iron Man,1,5/2/2008,7.9,94.0,91.0,126.0,"186,000,000","102,118,668","318,604,126","266,273,701","584,877,827"
1,The Incredible Hulk,1,6/13/2008,6.6,67.0,70.0,112.0,"137,500,000","55,414,050","134,806,913","130,766,946","265,573,859"
2,Iron Man 2,1,5/7/2010,6.9,72.0,71.0,124.0,"170,000,000","128,122,480","312,433,331","308,723,058","621,156,389"
3,Thor,1,5/6/2011,7.0,77.0,76.0,113.0,"150,000,000","65,723,338","181,030,624","268,295,994","449,326,618"
4,Captain America: The First Avenger,1,7/22/2011,6.9,79.0,75.0,124.0,"140,000,000","65,058,524","176,654,505","193,915,271","370,569,776"

In [35]:
# cleaned no more nulls
for col in df_clean.columns:
    pct_nulls = np.mean(df_clean[col].isnull())
    print('{} - {}%'.format(col,pct_nulls))

movie_title - 0.0%
mcu_phase - 0.0%
release_date - 0.0%
imdb_rating - 0.0%
tomato_meter - 0.0%
audience_score - 0.0%
movie_duration - 0.0%
production_budget - 0.0%
opening_weekend - 0.0%
domestic_box_office - 0.0%
international_box_office - 0.0%
worldwide_box_office - 0.0%

In [36]:
df_clean.dtypes

movie_title                  object
mcu_phase                     int64
release_date                 object
imdb_rating                 float64
tomato_meter                float64
audience_score              float64
movie_duration              float64
production_budget            object
opening_weekend              object
domestic_box_office          object
international_box_office     object
worldwide_box_office         object
dtype: object

In [37]:
df_clean.head()

,movie_title,mcu_phase,release_date,imdb_rating,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,international_box_office,worldwide_box_office
0,Iron Man,1,5/2/2008,7.9,94.0,91.0,126.0,"186,000,000","102,118,668","318,604,126","266,273,701","584,877,827"
1,The Incredible Hulk,1,6/13/2008,6.6,67.0,70.0,112.0,"137,500,000","55,414,050","134,806,913","130,766,946","265,573,859"
2,Iron Man 2,1,5/7/2010,6.9,72.0,71.0,124.0,"170,000,000","128,122,480","312,433,331","308,723,058","621,156,389"
3,Thor,1,5/6/2011,7.0,77.0,76.0,113.0,"150,000,000","65,723,338","181,030,624","268,295,994","449,326,618"
4,Captain America: The First Avenger,1,7/22/2011,6.9,79.0,75.0,124.0,"140,000,000","65,058,524","176,654,505","193,915,271","370,569,776"

In [42]:
df_clean['opening_weekend'] = df_clean['opening_weekend'].str.replace(',', '').astype('int64')
df_clean['domestic_box_office'] = df_clean['domestic_box_office'].str.replace(',', '').astype('int64')
df_clean['international_box_office'] = df_clean['international_box_office'].str.replace(',', '').astype('int64')
df_clean['worldwide_box_office'] = df_clean['worldwide_box_office'].str.replace(',', '').astype('int64')

df_clean.dtypes

movie_title                  object
mcu_phase                     int64
release_date                 object
imdb_rating                 float64
tomato_meter                float64
audience_score              float64
movie_duration              float64
production_budget             int64
opening_weekend               int64
domestic_box_office           int64
international_box_office      int64
worldwide_box_office          int64
dtype: object

In [43]:
df_clean['opening_weekend'] = df_clean['opening_weekend'].astype('str')

In [44]:
df_clean.dtypes

movie_title                  object
mcu_phase                     int64
release_date                 object
imdb_rating                 float64
tomato_meter                float64
audience_score              float64
movie_duration              float64
production_budget             int64
opening_weekend              object
domestic_box_office           int64
international_box_office      int64
worldwide_box_office          int64
dtype: object

In [45]:
df_clean['opening_weekend'] = df_clean['opening_weekend'].str.replace(',', '').astype('int64')

In [46]:
df_clean.dtypes

movie_title                  object
mcu_phase                     int64
release_date                 object
imdb_rating                 float64
tomato_meter                float64
audience_score              float64
movie_duration              float64
production_budget             int64
opening_weekend               int64
domestic_box_office           int64
international_box_office      int64
worldwide_box_office          int64
dtype: object

In [47]:
df_clean['movie_title'] = df_clean['movie_title'].astype('str')

In [48]:
df_clean.dtypes

movie_title                  object
mcu_phase                     int64
release_date                 object
imdb_rating                 float64
tomato_meter                float64
audience_score              float64
movie_duration              float64
production_budget             int64
opening_weekend               int64
domestic_box_office           int64
international_box_office      int64
worldwide_box_office          int64
dtype: object

In [50]:

correlation_matrix = df_clean.corr(numeric_only=True)
budget_vs_revenue = df_clean['production_budget'].corr(df_clean['worldwide_box_office'])
phase_performance = df_clean.groupby('mcu_phase')['worldwide_box_office'].mean()

In [51]:
print(phase_performance)

mcu_phase
1    6.344341e+08
2    8.764489e+08
3    1.219246e+09
4    8.153251e+08
5    6.090690e+08
Name: worldwide_box_office, dtype: float64

In [66]:
print("MCU Mean Revenue per Phase")
for phase, revenue in phase_performance.items():
    print(f"Phase {phase}: ${revenue:,.0f}")

phase_total = df_clean.groupby('mcu_phase')['worldwide_box_office'].sum()
print("\nMCU Total Revenue per Phase")
for phase,revenue in phase_total.items():
    print(f"Phase {phase}: ${revenue:,.0f}")


print("\nMCU Best Movie per Phase")
best_movie_per_phase = df_clean.loc[df_clean.groupby('mcu_phase')['worldwide_box_office'].idxmax()]
for _, row in best_movie_per_phase.iterrows():
    phase = row['mcu_phase']
    revenue = row['worldwide_box_office']
    movie_title = row['movie_title']  # or whatever the title column is called
    print(f"Phase {phase} - {movie_title} : ${revenue:,.0f}")

MCU Mean Revenue per Phase
Phase 1: $634,434,113
Phase 2: $876,448,864
Phase 3: $1,219,246,040
Phase 4: $815,325,145
Phase 5: $609,068,978

MCU Total Revenue per Phase
Phase 1: $3,806,604,680
Phase 2: $5,258,693,184
Phase 3: $13,411,706,436
Phase 4: $5,707,276,013
Phase 5: $3,654,413,870

MCU Best Movie per Phase
Phase 1 - The Avengers : $1,515,100,211
Phase 2 - Avengers: Age of Ultron : $1,395,316,979
Phase 3 - Avengers: Endgame : $2,717,503,922
Phase 4 - Spider-Man: No Way Home : $1,921,206,586
Phase 5 - Deadpool & Wolverine : $1,338,071,348

In [53]:

print("Movies per phase:")
print(df_clean.groupby('mcu_phase').size())

# See total revenue per phase
print("Total revenue per phase:")
print(df_clean.groupby('mcu_phase')['worldwide_box_office'].sum())

# Best movie in each phase
print("Top performer per phase:")
phase_best = df_clean.loc[df_clean.groupby('mcu_phase')['worldwide_box_office'].idxmax()]
print(phase_best[['movie_title', 'mcu_phase', 'worldwide_box_office']])

Movies per phase:
mcu_phase
1     6
2     6
3    11
4     7
5     6
dtype: int64
Total revenue per phase:
mcu_phase
1     3806604680
2     5258693184
3    13411706436
4     5707276013
5     3654413870
Name: worldwide_box_office, dtype: int64
Top performer per phase:
                movie_title  mcu_phase  worldwide_box_office
5              The Avengers          1            1515100211
10  Avengers: Age of Ultron          2            1395316979
21        Avengers: Endgame          3            2717503922
26  Spider-Man: No Way Home          4            1921206586
33     Deadpool & Wolverine          5            1338071348

In [54]:
df_clean.head()

,movie_title,mcu_phase,release_date,imdb_rating,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,international_box_office,worldwide_box_office
0,Iron Man,1,5/2/2008,7.9,94.0,91.0,126.0,186000000,102118668,318604126,266273701,584877827
1,The Incredible Hulk,1,6/13/2008,6.6,67.0,70.0,112.0,137500000,55414050,134806913,130766946,265573859
2,Iron Man 2,1,5/7/2010,6.9,72.0,71.0,124.0,170000000,128122480,312433331,308723058,621156389
3,Thor,1,5/6/2011,7.0,77.0,76.0,113.0,150000000,65723338,181030624,268295994,449326618
4,Captain America: The First Avenger,1,7/22/2011,6.9,79.0,75.0,124.0,140000000,65058524,176654505,193915271,370569776

In [67]:
print("MCU Mean Revenue per Phase")
for phase, revenue in phase_performance.items():
    print(f"Phase {phase}: ${revenue:,.0f}")

phase_total = df_clean.groupby('mcu_phase')['worldwide_box_office'].sum()
print("\nMCU Total Revenue per Phase")
for phase,revenue in phase_total.items():
    print(f"Phase {phase}: ${revenue:,.0f}")


print("\nMCU Best Movie per Phase")
best_movie_per_phase = df_clean.loc[df_clean.groupby('mcu_phase')['worldwide_box_office'].idxmax()]
for _, row in best_movie_per_phase.iterrows():
    phase = row['mcu_phase']
    revenue = row['worldwide_box_office']
    movie_title = row['movie_title']  # or whatever the title column is called
    print(f"Phase {phase} - {movie_title} : ${revenue:,.0f}")

MCU Mean Revenue per Phase
Phase 1: $634,434,113
Phase 2: $876,448,864
Phase 3: $1,219,246,040
Phase 4: $815,325,145
Phase 5: $609,068,978

MCU Total Revenue per Phase
Phase 1: $3,806,604,680
Phase 2: $5,258,693,184
Phase 3: $13,411,706,436
Phase 4: $5,707,276,013
Phase 5: $3,654,413,870

MCU Best Movie per Phase
Phase 1 - The Avengers : $1,515,100,211
Phase 2 - Avengers: Age of Ultron : $1,395,316,979
Phase 3 - Avengers: Endgame : $2,717,503,922
Phase 4 - Spider-Man: No Way Home : $1,921,206,586
Phase 5 - Deadpool & Wolverine : $1,338,071,348

In [69]:
for phase in sorted(df_clean['mcu_phase'].unique()):
    phase_movies = df_clean[df_clean['mcu_phase'] == phase]
    avg_budget = phase_movies['production_budget'].mean()
    avg_rating = phase_movies['imdb_rating'].mean()
    avg_runtime = phase_movies['movie_duration'].mean()
    avg_
    
    print(f"Phase {phase} characteristics:")
    print(f"  Average budget: ${avg_budget:,.0f}")
    print(f"  Average rating: {avg_rating:.1f}")
    print(f"  Average runtime: {avg_runtime:.0f} minutes\n")

Phase 1 characteristics:
  Average budget: $168,083,333
  Average rating: 7.2
  Average runtime: 124 minutes

Phase 2 characteristics:
  Average budget: $197,500,000
  Average rating: 7.3
  Average runtime: 126 minutes

Phase 3 characteristics:
  Average budget: $212,272,727
  Average rating: 7.6
  Average runtime: 136 minutes

Phase 4 characteristics:
  Average budget: $207,142,857
  Average rating: 6.9
  Average runtime: 140 minutes

Phase 5 characteristics:
  Average budget: $213,333,333
  Average rating: 6.7
  Average runtime: 125 minutes

In [71]:
for phase in sorted(df_clean['mcu_phase'].unique()):
    phase_movies = df_clean[df_clean['mcu_phase'] == phase]
    avg_budget = phase_movies['production_budget'].mean()
    m_budget = phase_movies['production_budget'].median()
    m_rating = phase_movies['imdb_rating'].median()
    avg_runtime = phase_movies['movie_duration'].mean()
    m_runtime = phase_movies['movie_duration'].median()
    m_tomato = phase_movies['tomato_meter'].median()
    m_audience = phase_movies['audience_score'].median()
    
    print(f"Phase {phase} characteristics:")
    print(f"  Average budget: ${avg_budget:,.0f}")
    print(f"  Median/Middle Value IMDb rating: {m_rating:.1f}")
    print(f"  Average runtime: {avg_runtime:.0f} minutes")
    print(f"  Median/Middle runtime: {m_runtime:.0f} minutes")
    print(f"  Median/Middle Value Tomatometer: {m_tomato:.1f}%")
    print(f"  Median/Middle Value Audience Score: {m_audience:.1f}%\n")

Phase 1 characteristics:
  Average budget: $168,083,333
  Median/Middle Value IMDb rating: 7.0
  Average runtime: 124 minutes
  Median/Middle runtime: 124 minutes
  Median/Middle Value Tomatometer: 78.0%
  Median/Middle Value Audience Score: 75.5%

Phase 2 characteristics:
  Average budget: $197,500,000
  Median/Middle Value IMDb rating: 7.2
  Average runtime: 126 minutes
  Median/Middle runtime: 126 minutes
  Median/Middle Value Tomatometer: 81.0%
  Median/Middle Value Audience Score: 84.0%

Phase 3 characteristics:
  Average budget: $212,272,727
  Median/Middle Value IMDb rating: 7.5
  Average runtime: 136 minutes
  Median/Middle runtime: 133 minutes
  Median/Middle Value Tomatometer: 90.0%
  Median/Middle Value Audience Score: 87.0%

Phase 4 characteristics:
  Average budget: $207,142,857
  Median/Middle Value IMDb rating: 6.6
  Average runtime: 140 minutes
  Median/Middle runtime: 133 minutes
  Median/Middle Value Tomatometer: 79.0%
  Median/Middle Value Audience Score: 91.0%

Phase 5 characteristics:
  Average budget: $213,333,333
  Median/Middle Value IMDb rating: 6.8
  Average runtime: 125 minutes
  Median/Middle runtime: 125 minutes
  Median/Middle Value Tomatometer: 70.0%
  Median/Middle Value Audience Score: 87.0%

In [71]:
for phase in sorted(df_clean['mcu_phase'].unique()):
    phase_movies = df_clean[df_clean['mcu_phase'] == phase]
    avg_budget = phase_movies['production_budget'].mean()
    m_budget = phase_movies['production_budget'].median()
    m_rating = phase_movies['imdb_rating'].median()
    avg_runtime = phase_movies['movie_duration'].mean()
    m_runtime = phase_movies['movie_duration'].median()
    m_tomato = phase_movies['tomato_meter'].median()
    m_audience = phase_movies['audience_score'].median()
    
    print(f"Phase {phase} characteristics:")
    print(f"  Average budget: ${avg_budget:,.0f}")
    print(f"  Median/Middle Value IMDb rating: {m_rating:.1f}")
    print(f"  Average runtime: {avg_runtime:.0f} minutes")
    print(f"  Median/Middle runtime: {m_runtime:.0f} minutes")
    print(f"  Median/Middle Value Tomatometer: {m_tomato:.1f}%")
    print(f"  Median/Middle Value Audience Score: {m_audience:.1f}%\n")

Phase 1 characteristics:
  Average budget: $168,083,333
  Median/Middle Value IMDb rating: 7.0
  Average runtime: 124 minutes
  Median/Middle runtime: 124 minutes
  Median/Middle Value Tomatometer: 78.0%
  Median/Middle Value Audience Score: 75.5%

Phase 2 characteristics:
  Average budget: $197,500,000
  Median/Middle Value IMDb rating: 7.2
  Average runtime: 126 minutes
  Median/Middle runtime: 126 minutes
  Median/Middle Value Tomatometer: 81.0%
  Median/Middle Value Audience Score: 84.0%

Phase 3 characteristics:
  Average budget: $212,272,727
  Median/Middle Value IMDb rating: 7.5
  Average runtime: 136 minutes
  Median/Middle runtime: 133 minutes
  Median/Middle Value Tomatometer: 90.0%
  Median/Middle Value Audience Score: 87.0%

Phase 4 characteristics:
  Average budget: $207,142,857
  Median/Middle Value IMDb rating: 6.6
  Average runtime: 140 minutes
  Median/Middle runtime: 133 minutes
  Median/Middle Value Tomatometer: 79.0%
  Median/Middle Value Audience Score: 91.0%

Phase 5 characteristics:
  Average budget: $213,333,333
  Median/Middle Value IMDb rating: 6.8
  Average runtime: 125 minutes
  Median/Middle runtime: 125 minutes
  Median/Middle Value Tomatometer: 70.0%
  Median/Middle Value Audience Score: 87.0%

In [71]:
for phase in sorted(df_clean['mcu_phase'].unique()):
    phase_movies = df_clean[df_clean['mcu_phase'] == phase]
    
    # Budgets
    avg_budget = phase_movies['production_budget'].mean()
    med_budget = phase_movies['production_budget'].median()
    
    # Box office
    avg_opening = phase_movies['opening_weekend'].mean()
    med_opening = phase_movies['opening_weekend'].median()
    
    avg_domestic = phase_movies['domestic_box_office'].mean()
    med_domestic = phase_movies['domestic_box_office'].median()
    
    avg_international = phase_movies['international_box_office'].mean()
    med_international = phase_movies['international_box_office'].median()
    
    avg_worldwide = phase_movies['worldwide_box_office'].mean()
    med_worldwide = phase_movies['worldwide_box_office'].median()
    
    # Ratings and runtime
    med_rating = phase_movies['imdb_rating'].median()
    
    avg_runtime = phase_movies['movie_duration'].mean()
    med_runtime = phase_movies['movie_duration'].median()
    
    med_tomato = phase_movies['tomato_meter'].median()
    med_audience = phase_movies['audience_score'].median()
    
    print(f"Phase {phase} characteristics:")
    print(f"  Average budget: ${avg_budget:,.0f}")
    print(f"  Median budget: ${med_budget:,.0f}")
    print(f"  Average opening weekend: ${avg_opening:,.0f}")
    print(f"  Median opening weekend: ${med_opening:,.0f}")
    print(f"  Average domestic box office: ${avg_domestic:,.0f}")
    print(f"  Median domestic box office: ${med_domestic:,.0f}")
    print(f"  Average international box office: ${avg_international:,.0f}")
    print(f"  Median international box office: ${med_international:,.0f}")
    print(f"  Average worldwide box office: ${avg_worldwide:,.0f}")
    print(f"  Median worldwide box office: ${med_worldwide:,.0f}")
    print(f"  Median IMDb rating: {med_rating:.1f}")
    print(f"  Average runtime: {avg_runtime:.0f} minutes")
    print(f"  Median runtime: {med_runtime:.0f} minutes")
    print(f"  Median Tomatometer: {med_tomato:.1f}%")
    print(f"  Median Audience Score: {med_audience:.1f}%\n")

Phase 1 characteristics:
  Average budget: $168,083,333
  Median/Middle Value IMDb rating: 7.0
  Average runtime: 124 minutes
  Median/Middle runtime: 124 minutes
  Median/Middle Value Tomatometer: 78.0%
  Median/Middle Value Audience Score: 75.5%

Phase 2 characteristics:
  Average budget: $197,500,000
  Median/Middle Value IMDb rating: 7.2
  Average runtime: 126 minutes
  Median/Middle runtime: 126 minutes
  Median/Middle Value Tomatometer: 81.0%
  Median/Middle Value Audience Score: 84.0%

Phase 3 characteristics:
  Average budget: $212,272,727
  Median/Middle Value IMDb rating: 7.5
  Average runtime: 136 minutes
  Median/Middle runtime: 133 minutes
  Median/Middle Value Tomatometer: 90.0%
  Median/Middle Value Audience Score: 87.0%

Phase 4 characteristics:
  Average budget: $207,142,857
  Median/Middle Value IMDb rating: 6.6
  Average runtime: 140 minutes
  Median/Middle runtime: 133 minutes
  Median/Middle Value Tomatometer: 79.0%
  Median/Middle Value Audience Score: 91.0%

Phase 5 characteristics:
  Average budget: $213,333,333
  Median/Middle Value IMDb rating: 6.8
  Average runtime: 125 minutes
  Median/Middle runtime: 125 minutes
  Median/Middle Value Tomatometer: 70.0%
  Median/Middle Value Audience Score: 87.0%

In [72]:
for phase in sorted(df_clean['mcu_phase'].unique()):
    phase_movies = df_clean[df_clean['mcu_phase'] == phase]
    
    # Budgets
    avg_budget = phase_movies['production_budget'].mean()
    med_budget = phase_movies['production_budget'].median()
    
    # Box office
    avg_opening = phase_movies['opening_weekend'].mean()
    med_opening = phase_movies['opening_weekend'].median()
    
    avg_domestic = phase_movies['domestic_box_office'].mean()
    med_domestic = phase_movies['domestic_box_office'].median()
    
    avg_international = phase_movies['international_box_office'].mean()
    med_international = phase_movies['international_box_office'].median()
    
    avg_worldwide = phase_movies['worldwide_box_office'].mean()
    med_worldwide = phase_movies['worldwide_box_office'].median()
    
    # Ratings and runtime
    med_rating = phase_movies['imdb_rating'].median()
    
    avg_runtime = phase_movies['movie_duration'].mean()
    med_runtime = phase_movies['movie_duration'].median()
    
    med_tomato = phase_movies['tomato_meter'].median()
    med_audience = phase_movies['audience_score'].median()
    
    print(f"Phase {phase} characteristics:")
    print(f"  Average budget: ${avg_budget:,.0f}")
    print(f"  Median budget: ${med_budget:,.0f}")
    print(f"  Average opening weekend: ${avg_opening:,.0f}")
    print(f"  Median opening weekend: ${med_opening:,.0f}")
    print(f"  Average domestic box office: ${avg_domestic:,.0f}")
    print(f"  Median domestic box office: ${med_domestic:,.0f}")
    print(f"  Average international box office: ${avg_international:,.0f}")
    print(f"  Median international box office: ${med_international:,.0f}")
    print(f"  Average worldwide box office: ${avg_worldwide:,.0f}")
    print(f"  Median worldwide box office: ${med_worldwide:,.0f}")
    print(f"  Median IMDb rating: {med_rating:.1f}")
    print(f"  Average runtime: {avg_runtime:.0f} minutes")
    print(f"  Median runtime: {med_runtime:.0f} minutes")
    print(f"  Median Tomatometer: {med_tomato:.1f}%")
    print(f"  Median Audience Score: {med_audience:.1f}%\n")

Phase 1 characteristics:
  Average budget: $168,083,333
  Median budget: $160,000,000
  Average opening weekend: $103,979,295
  Median opening weekend: $83,921,003
  Average domestic box office: $291,147,902
  Median domestic box office: $246,731,978
  Average international box office: $343,286,212
  Median international box office: $267,284,848
  Average worldwide box office: $634,434,113
  Median worldwide box office: $517,102,222
  Median IMDb rating: 7.0
  Average runtime: 124 minutes
  Median runtime: 124 minutes
  Median Tomatometer: 78.0%
  Median Audience Score: 75.5%

Phase 2 characteristics:
  Average budget: $197,500,000
  Median budget: $170,000,000
  Average opening weekend: $116,287,278
  Median opening weekend: $94,672,302
  Average domestic box office: $308,003,919
  Median domestic box office: $296,730,535
  Average international box office: $568,444,945
  Median international box office: $446,447,654
  Average worldwide box office: $876,448,864
  Median worldwide box office: $742,642,142
  Median IMDb rating: 7.2
  Average runtime: 126 minutes
  Median runtime: 126 minutes
  Median Tomatometer: 81.0%
  Median Audience Score: 84.0%

Phase 3 characteristics:
  Average budget: $212,272,727
  Median budget: $180,000,000
  Average opening weekend: $162,647,457
  Median opening weekend: $146,510,104
  Average domestic box office: $450,206,159
  Median domestic box office: $391,362,492
  Average international box office: $769,039,880
  Median international box office: $634,097,516
  Average worldwide box office: $1,219,246,040
  Median worldwide box office: $1,129,576,094
  Median IMDb rating: 7.5
  Average runtime: 136 minutes
  Median runtime: 133 minutes
  Median Tomatometer: 90.0%
  Median Audience Score: 87.0%

Phase 4 characteristics:
  Average budget: $207,142,857
  Median budget: $200,000,000
  Average opening weekend: $142,873,808
  Median opening weekend: $144,165,107
  Average domestic box office: $370,899,178
  Median domestic box office: $343,256,830
  Average international box office: $444,425,967
  Median international box office: $405,379,776
  Average worldwide box office: $815,325,145
  Median worldwide box office: $760,928,081
  Median IMDb rating: 6.6
  Average runtime: 140 minutes
  Median runtime: 133 minutes
  Median Tomatometer: 79.0%
  Median Audience Score: 91.0%

Phase 5 characteristics:
  Average budget: $213,333,333
  Median budget: $200,000,000
  Average opening weekend: $107,535,505
  Median opening weekend: $97,476,126
  Average domestic box office: $280,790,321
  Median domestic box office: $207,503,455
  Average international box office: $328,278,657
  Median international box office: $237,353,146
  Average worldwide box office: $609,068,978
  Median worldwide box office: $444,856,600
  Median IMDb rating: 6.8
  Average runtime: 125 minutes
  Median runtime: 125 minutes
  Median Tomatometer: 70.0%
  Median Audience Score: 87.0%

In [73]:
import pandas as pd

summary_list = []

for phase in sorted(df_clean['mcu_phase'].unique()):
    phase_movies = df_clean[df_clean['mcu_phase'] == phase]
    
    summary_list.append({
        'mcu_phase': phase,
        'avg_budget': phase_movies['production_budget'].mean(),
        'med_budget': phase_movies['production_budget'].median(),
        'avg_opening_weekend': phase_movies['opening_weekend'].mean(),
        'med_opening_weekend': phase_movies['opening_weekend'].median(),
        'avg_domestic_box_office': phase_movies['domestic_box_office'].mean(),
        'med_domestic_box_office': phase_movies['domestic_box_office'].median(),
        'avg_international_box_office': phase_movies['international_box_office'].mean(),
        'med_international_box_office': phase_movies['international_box_office'].median(),
        'avg_worldwide_box_office': phase_movies['worldwide_box_office'].mean(),
        'med_worldwide_box_office': phase_movies['worldwide_box_office'].median(),
        'med_imdb_rating': phase_movies['imdb_rating'].median(),
        'avg_runtime': phase_movies['movie_duration'].mean(),
        'med_runtime': phase_movies['movie_duration'].median(),
        'med_tomato_meter': phase_movies['tomato_meter'].median(),
        'med_audience_score': phase_movies['audience_score'].median(),
        'movie_count': len(phase_movies)
    })

# Convert to DataFrame
phase_summary_df = pd.DataFrame(summary_list)

# Save to CSV
phase_summary_df.to_csv('mcu_phase_summary.csv', index=False)

print("CSV saved as 'mcu_phase_summary.csv'")

CSV saved as 'mcu_phase_summary.csv'

In [74]:
import os
print(os.getcwd())

C:\Users\ojt_opsdev_christian

In [77]:
phase_summary_df.to_csv(r'C:\Users\ojt_opsdev_christian\Desktop\mcu\mcu_phase_summary.csv', index=False)

In [80]:
top_movies_list = []

for phase in sorted(df_clean['mcu_phase'].unique()):
    phase_movies = df_clean[df_clean['mcu_phase'] == phase]
    top3 = phase_movies.nlargest(3, 'worldwide_box_office')
    
    for _, row in top3.iterrows():
        top_movies_list.append({
            'mcu_phase': phase,
            'movie_title': row['movie_title'],
            'worldwide_box_office': row['worldwide_box_office']
        })

top_movies_df = pd.DataFrame(top_movies_list)
top_movies_df.to_csv(r'C:\Users\ojt_opsdev_christian\Desktop\mcu\mcu_phase_top3_movies.csv', index=False)

print("CSV saved as 'top_3_movies_per_phase.csv'")

CSV saved as 'top_3_movies_per_phase.csv'

In [81]:
summary = []

for phase in sorted(df_clean['mcu_phase'].unique()):
    phase_movies = df_clean[df_clean['mcu_phase'] == phase]

    mean_revenue = phase_movies['worldwide_box_office'].mean()
    median_revenue = phase_movies['worldwide_box_office'].median()
    total_revenue = phase_movies['worldwide_box_office'].sum()

    mean_budget = phase_movies['production_budget'].mean()
    
    # Budget-to-revenue ratio per movie
    phase_movies = phase_movies[phase_movies['production_budget'] > 0]  # avoid divide by 0
    ratios = phase_movies['worldwide_box_office'] / phase_movies['production_budget']
    
    mean_ratio = ratios.mean()
    median_ratio = ratios.median()

    summary.append({
        'mcu_phase': phase,
        'mean_revenue': mean_revenue,
        'median_revenue': median_revenue,
        'total_revenue': total_revenue,
        'mean_budget': mean_budget,
        'mean_return_ratio': mean_ratio,
        'median_return_ratio': median_ratio
    })

summary_df = pd.DataFrame(summary)
summary_df.to_csv(r'C:\Users\ojt_opsdev_christian\Desktop\mcu\mcu_phase_revenue_analysis.csv', index=False)
print("CSV saved as 'mcu_phase_revenue_analysis.csv'")

CSV saved as 'mcu_phase_revenue_analysis.csv'